<mat-list>
  <mat-list-item *ngFor="let bank of banking">
    <p matLine>{{bank.name}}</p>
    <button mat-icon-button [matMenuTriggerFor]="itemActions" [matMenuTriggerData]="{item : bank}">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<br>
<br>
<br>
<!--Action delete with ng-template EventEmitter Fired-->
<ng-container [ngTemplateOutlet]="a"></ng-container>
<ng-template #a>
<button mat-button
        alert-confirm 
        name="banking" 
        (onConfirmed)="onDelete(banking[0])">
  <mat-icon color="warn">delete</mat-icon>
  Delete
</button>
</ng-template>
<!--Action delete with ng-template and mat-menu then EventEmitter (onConfirmed)  not firing-->
<!-- I need this case to use mat-menu lazy load item in mat-list in my project-->
<!-- Please help to me! Thanks advanced-->
<mat-menu #itemActions="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item>{{item.name}}</button>
    <button mat-menu-item 
    alert-confirm 
    name="banking" 
    (onConfirmed)="onDelete(item)">
      Delete
    </button>
  </ng-template>
</mat-menu>
